@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin-bottom: 100px;
  font-family: 'Raleway'
}

svg {
  display: flex;
  justify-content: space-between;
}

.canvas {
  border: 1px dashed black;
  margin-left: 100px;
  margin-top: 20px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: indianred;
}

.form-flex {
  display: flex;
  justify-content: space-around;
}

.point:hover {
  fill: yellow;
  opacity: 1;
}

.active {
  fill: yellow;
  opacity: 1;
}

.node-label {
  padding: 4px;
  line-height: 1em;
  white-space: pre;
}

.node-value {
  color: rgba(0,0,0,0.8);
  font-size: 9px;
  margin-top: 1px;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
    z-index: 9999;
}

.cell rect:hover {
  fill: yellow;
}